<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
<head>
  <div id="helloWorld"></div>
</head>

<body>

  <div id="searchBar"></div>
  <div id="locations_list"></div>
  <div id="reactMap"></div>


  <div id="sendToServerButton"> Server Button Should BE HERE</div>

  <!-- Attach React components -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDA3tCPe5-nZ7i8swYDskytH2cmQq6lBiA&libraries=places"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='bundle.js') }}"></script>
</body>
